<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <!-- QA-only access lets tests inspect generated exports. Never merged into release. -->
    <application android:debuggable="true" tools:replace="android:debuggable" tools:ignore="HardcodedDebugMode" />
</manifest>
